#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
###Current date and time
pd.Timestamp.now()

Timestamp('2020-02-26 03:53:38.154415')

In [3]:
###current year
pd.Timestamp.now().year

2020

In [4]:
###Month of year
pd.Timestamp.now().month

2

In [5]:
###Week number of the year
pd.Timestamp.now().weekofyear

9

In [6]:
###Weekday of the week
pd.Timestamp.now().weekday()

2

In [7]:
###Day of year
pd.Timestamp.now().dayofyear

57

In [8]:
###Day of month
pd.Timestamp.now().days_in_month

29

In [9]:
###Dayof week
pd.Timestamp.now().weekday_name

C:\Users\Isha Kaushal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

'Wednesday'

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [10]:
Sample= 'Jan 1 2014 2:43PM'
Sample1 = pd.to_datetime(Sample, format='%b %d %Y %I:%M%p')

In [11]:
Sample1

Timestamp('2014-01-01 14:43:00')

In [12]:
Sample1.replace(month=7)

Timestamp('2014-07-01 14:43:00')

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [13]:
Current_Date='2015-06-22'

In [14]:
current_Date1 = pd.to_datetime(Current_Date,format='%Y-%m-%d')
current_Date1

Timestamp('2015-06-22 00:00:00')

In [15]:
new_date = current_Date1 + pd.DateOffset(days=-5)
new_date

Timestamp('2015-06-17 00:00:00')

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [16]:
uts = '1284105682'

In [17]:
gg=pd.to_numeric(uts)

In [18]:
dt.fromtimestamp(gg).strftime('%Y-%m-%d %H:%M:%S')

'2010-09-10 13:31:22'

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [26]:
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

In [27]:
ss=pd.to_datetime(DoB,format = '%d%b%y')

In [28]:
ss

0   2059-09-07
1   2055-01-01
2   2047-12-15
3   2042-07-11
dtype: datetime64[ns]

In [29]:
ss + pd.DateOffset(years=-100)

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [30]:
def diff_in_days(a=0,b=0):
    aa=pd.to_datetime(a,format='%d-%m-%Y')
    bb=pd.to_datetime(b,format='%d-%m-%Y')
    return pd.Timedelta(aa-bb,unit='D')

In [31]:
diff_in_days(b='13-11-1993',a='17-01-2020')

Timedelta('9561 days 00:00:00')

In [32]:
diff_in_days(b='13-11-1993',a='17-01-2020')

Timedelta('9561 days 00:00:00')

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [33]:
Date = "15Dec1989"

In [34]:
dd=pd.to_datetime(Date,format="%d%b%Y")

In [35]:
dd

Timestamp('1989-12-15 00:00:00')

In [36]:
dt.strftime(dd,format='%A, %d %b %y')

'Friday, 15 Dec 89'