# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [254]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

### Step 2. Import the dataset [wind.csv](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data) from the folder

In [255]:
data=pd.read_csv(r'C:\Users\Isha Kaushal\Downloads\wind.data')

In [256]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [257]:
data['Date']=data.Dy.astype(str)+'-'+data.Mo.astype(str)+'-'+(data.Yr).astype(str)

In [258]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1-1-61
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2-1-61
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,3-1-61
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,4-1-61
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,5-1-61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,27-12-78
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,28-12-78
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,29-12-78
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,30-12-78
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,31-12-78

In [259]:
data['Date']=pd.to_datetime(data.Date,format='%d-%m-%y')

In [260]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [263]:
data.sort_values('Date')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
2922,69,1,1,6.13,1.63,5.41,1.08,2.54,1.00,8.50,2.42,4.58,6.34,9.17,16.71,1969-01-01
2923,69,1,2,2.62,0.54,6.71,2.88,5.63,1.13,7.75,1.87,5.83,5.41,8.17,13.29,1969-01-02
2924,69,1,3,4.17,2.37,6.29,1.67,4.00,2.37,7.96,5.41,5.04,7.25,11.96,16.17,1969-01-03
2925,69,1,4,6.00,6.87,7.67,4.63,9.50,5.04,11.25,6.87,8.58,11.17,16.08,17.25,1969-01-04
2926,69,1,5,10.50,8.38,7.71,3.50,5.41,2.42,7.67,5.37,4.17,5.63,12.17,17.12,1969-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,68,12,27,12.21,3.96,15.71,5.83,6.67,3.42,9.87,5.46,7.21,8.29,12.12,25.00,2068-12-27
2918,68,12,28,16.96,7.75,18.00,7.79,9.17,5.88,10.46,4.25,9.25,9.08,18.58,30.16,2068-12-28
2919,68,12,29,16.62,5.96,16.88,5.00,8.83,5.41,10.83,5.54,10.88,10.00,13.08,26.25,2068-12-29
2920,68,12,30,12.96,7.08,12.25,4.25,5.63,2.25,7.58,4.12,7.54,8.67,8.17,19.04,2068-12-30
2921,68,12,31,9.13,2.13,7.38,2.50,4.04,0.50,6.83,2.54,3.54,5.50,5.71,12.42,2068-12-31

### Step 4. Year 2061 is seemingly imporoper. Convert every year which are < 70 to 19XX instead of 20XX.

In [264]:
data['Date']=pd.np.where(data.Yr<69, data.Date+pd.DateOffset(years=-100),data.Date+pd.DateOffset(years=0))

In [265]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [266]:
data.sort_values('Date')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [231]:
data.drop(columns=['Yr','Mo','Dy'])

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31

In [232]:
data.sort_values('Date')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [233]:
data.set_index(data.Date)

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
Date,,,,,,,,,,,,,,,,
1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1961-01-02,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
1961-01-03,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
1961-01-04,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
1961-01-05,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2078-12-27,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27
2078-12-28,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28
2078-12-29,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29
2078-12-30,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30
2078-12-31,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31

In [234]:
data.index.dtype

dtype('int64')

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [235]:
data.isna().sum()

Yr      0
Mo      0
Dy      0
RPT     6
VAL     3
ROS     2
KIL     5
SHA     2
BIR     0
DUB     3
CLA     2
MUL     3
CLO     1
BEL     0
MAL     4
Date    0
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [236]:
data.count()

Yr      6574
Mo      6574
Dy      6574
RPT     6568
VAL     6571
ROS     6572
KIL     6569
SHA     6572
BIR     6574
DUB     6571
CLA     6572
MUL     6571
CLO     6573
BEL     6574
MAL     6570
Date    6574
dtype: int64

### Step 8. Calculate the mean windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [237]:
data.loc[:,'RPT':'MAL'].mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

In [238]:
data.loc[:,'RPT':'MAL'].mean().mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [239]:
loc_stats=pd.DataFrame({'MIN':data.loc[:,'RPT':'MAL'].min(),'MAX':data.loc[:,'RPT':'MAL'].max(),'MEAN':data.loc[:,'RPT':'MAL'].mean(),'STD':data.loc[:,'RPT':'MAL'].std()})

In [240]:
loc_stats

      MIN    MAX       MEAN       STD
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [241]:
data.sort_values(by='Date')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31

In [242]:
day_stats=pd.DataFrame({'MIN':data.groupby(by=data.Dy).mean().loc[:,'RPT':'MAL'].T.min(),'MAX':data.groupby(by=data.Dy).mean().loc[:,'RPT':'MAL'].T.max(),'MEAN':data.groupby(by=data.Dy).mean().loc[:,'RPT':'MAL'].T.mean(),'STD':data.groupby(by=data.Dy).mean().loc[:,'RPT':'MAL'].T.min()})

In [243]:
day_stats

         MIN        MAX       MEAN       STD
Dy
1   6.498796  15.945395  10.532077  6.498796
2   6.613981  15.830463  10.390175  6.613981
3   6.195324  15.499491   9.918786  6.195324
4   5.943472  15.173380   9.808995  5.943472
5   6.021528  15.998333  10.114915  6.021528
6   6.096296  15.423194  10.015224  6.096296
7   6.311389  15.124306  10.100985  6.311389
8   6.091852  15.332361   9.902049  6.091852
9   6.361898  15.879352  10.399803  6.361898
10  6.550463  15.592083  10.529325  6.550463
11  6.455000  15.772454  10.563180  6.455000
12  6.606065  15.787546  10.497737  6.606065
13  6.182639  14.981991   9.889074  6.182639
14  6.458981  15.271907  10.373006  6.458981
15  6.335602  15.120417  10.073495  6.335602
16  6.253241  16.157442  10.291646  6.253241
17  6.420046  15.662130  10.374973  6.420046
18  6.264791  15.415463  10.153698  6.264791
19  6.212326  15.737176  10.217497  6.212326
20  6.102639  15.714444  10.069841  6.102639
21  5.932000  15.006250   9.774256  5.932000
22  6.129722  15.008287  10.006636  6.129722
23  6.513611  15.990463  10.505355  6.513611
24  6.379398  15.792778  10.391443  6.379398
25  6.386620  15.707361  10.435988  6.386620
26  6.041349  15.228519   9.926649  6.041349
27  6.483796  15.780741  10.345127  6.483796
28  6.305953  15.834352  10.206614  6.305953
29  6.412723  16.023861  10.338757  6.412723
30  6.563990  16.076396  10.626589  6.563990
31  6.466429  15.901190  10.410893  6.466429

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [244]:
data.loc[:,'RPT':'MAL'].groupby(by=data.Mo).mean().head(1)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Mo,,,,,,,,,,,,
1,14.847325,12.91456,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.55052,18.028763

### Step 12. Downsample the record to a yearly frequency for each location.

In [245]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31

In [246]:
data.loc[:,'RPT':'MAL'].groupby(by=data.Yr).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr,,,,,,,,,,,,
61,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
62,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
63,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
64,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
65,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
66,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
67,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
68,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
69,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
70,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
71,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
72,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
73,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
74,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
75,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
76,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
77,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
78,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

### Step 13. Downsample the record to a monthly frequency for each location.

In [247]:
data.loc[:,'RPT':'MAL'].groupby(by=data.Mo).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Mo,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

### Step 14. Downsample the record to a weekly frequency for each location.

In [248]:
data['Week']=data.Date.apply(lambda x : x.week)

In [249]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,Week
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,52
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02,1
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03,1
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04,1
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27,52
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28,52
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29,52
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30,52
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31,52

In [250]:
data.drop(columns=['Yr','Mo','Dy'])

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,Week
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,52
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02,1
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03,1
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04,1
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27,52
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28,52
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29,52
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30,52
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31,52

In [251]:
data.groupby(data.Week).mean()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Week,,,,,,,,,,,,,,,
1,69.393701,2.212598,7.535433,13.561024,11.076270,12.725827,6.439449,10.025276,7.041890,11.409055,8.509444,8.882205,9.378740,13.349134,17.835118
2,69.500000,1.000000,11.166667,16.146349,14.113016,14.579683,7.757143,12.802063,8.804841,12.505952,10.171111,9.973095,10.420873,15.276190,18.270952
3,69.500000,1.000000,18.166667,14.546825,13.021984,12.936349,6.880397,11.736320,8.140159,11.517302,9.516587,9.414762,9.957460,14.400079,17.634683
4,69.500000,1.000000,25.166667,15.333680,13.527222,13.497063,7.651032,12.159365,8.317460,11.727857,9.959444,9.790317,10.461746,14.950397,18.549365
5,69.500000,1.595238,13.714286,14.700317,13.169444,13.176746,7.488333,11.912222,8.185556,12.095238,9.640794,9.967381,10.115873,14.754127,17.604683
6,69.500000,2.000000,8.166667,13.022302,11.210000,11.902143,6.271349,10.806905,6.897143,10.958651,8.674762,9.043571,9.023651,13.527222,17.619524
7,69.500000,2.000000,15.166667,14.230397,12.338730,13.211190,7.073840,11.833968,7.834762,11.199365,9.650397,9.273175,9.560873,13.602302,17.221349
8,69.500000,2.000000,22.166667,13.866349,12.079762,13.711429,7.408000,11.905476,8.028254,11.745556,9.627302,9.621746,9.848175,13.398651,17.000159
9,69.500000,2.563492,13.301587,12.793520,12.001825,12.541840,6.684921,11.005000,7.536270,10.540952,9.468571,8.885200,9.659365,13.989286,16.825840
10,69.500000,3.000000,7.944444,13.538800,11.937698,13.322063,7.229127,11.444444,7.879762,10.753016,9.089444,9.282381,9.719286,12.874444,15.800159
11,69.500000,3.000000,14.944444,12.956270,10.824048,12.469365,7.063889,11.209603,7.529762,10.993492,9.628095,9.449286,9.912698,13.458333,16.847120
12,69.500000,3.000000,21.944444,13.637222,12.037302,13.111111,7.794444,12.191905,8.601667,12.331825,10.465238,10.367540,10.635873,14.630952,18.125476
13,69.500000,3.198413,22.793651,12.852381,11.183968,11.834762,7.419920,11.824048,8.193492,11.510238,9.633175,10.208960,10.258889,14.568095,16.948730
14,69.500000,3.936508,6.912698,14.059762,11.155000,14.287540,7.901270,11.665556,8.187937,11.776746,9.816587,10.074286,10.155794,13.623651,17.040476
15,69.500000,4.000000,11.944444,12.200714,9.715714,11.565635,6.541032,10.172063,7.013968,10.106032,8.809603,8.821825,8.834762,12.185714,14.853968
16,69.500000,4.000000,18.944444,12.685079,11.046349,12.298175,7.123810,11.101032,7.753730,10.201984,8.975952,8.910794,9.477698,12.805476,14.516825
17,69.500000,4.055556,24.277778,11.213651,9.822302,11.100476,6.108095,9.808810,6.768413,8.912937,8.072143,7.969365,8.320873,11.972619,13.329762
18,69.500000,4.793651,9.134921,12.605079,10.622460,11.058333,6.584286,10.733333,7.160159,9.201508,8.426984,8.044683,8.714524,12.591667,14.275794
19,69.500000,5.000000,9.944444,13.049286,11.681429,12.747778,7.080079,11.104524,7.688095,9.594000,9.244286,8.678095,9.391905,13.822063,14.307063
20,69.500000,5.000000,16.944444,11.496190,9.712800,11.601825,6.221825,9.955952,6.908889,8.888730,8.564524,8.109286,8.499286,13.020079,13.931270
21,69.500000,5.000000,23.944444,11.189762,9.571667,11.090635,5.970800,10.070476,6.686825,8.386032,8.153968,7.929603,8.314127,12.436825,13.771667
22,69.500000,5.420635,17.904762,9.847460,8.390000,10.074524,5.224048,8.784683,5.767222,7.197540,7.514762,7.014921,7.286111,11.241905,11.850000
23,69.500000,6.000000,6.944444,9.771746,8.708333,9.990317,5.113651,8.613968,5.779683,7.282778,7.240238,6.991587,7.064286,11.299206,11.926984
24,69.500000,6.000000,13.944444,10.070794,8.765794,10.733730,5.441429,8.865397,6.071111,7.256905,7.609286,6.996270,7.152222,12.075397,12.143254
25,69.500000,6.000000,20.944444,11.853175,9.900079,10.831190,6.403254,11.151984,7.506032,9.491111,8.793175,8.821032,8.655238,13.298175,14.310317
26,69.500000,6.198413,21.992063,10.406640,8.991270,10.207619,5.967222,9.968254,6.663968,8.459683,8.064683,8.095556,8.209127,12.642937,13.361280
27,69.500000,6.936508,6.849206,9.735556,7.889841,8.775556,5.173730,8.870397,5.810873,7.656880,7.252381,7.663810,7.352937,11.684127,12.828810
28,69.500000,7.000000,11.944444,10.072063,8.354841,9.688254,5.553492,9.485635,6.068889,8.094921,7.405556,7.728175,7.357143,11.609127,12.921825
29,69.500000,7.000000,18.944444,10.224841,8.319524,9.649127,5.676825,9.728254,6.189444,8.318571,7.565238,7.773095,7.708016,12.021349,13.140794
30,69.500000,7.015873,25.452381,9.728571,8.143254,9.157619,5.098254,8.702937,5.492381,7.375476,6.697460,6.878810,6.741032,11.061190,12.159762
31,69.500000,7.690476,11.539683,9.655000,8.369048,9.500635,5.084683,8.992619,5.723889,7.348968,6.647857,7.019603,6.683651,11.000714,12.181905
32,69.500000,8.000000,8.944444,9.975360,8.425952,9.260238,5.418571,8.976032,6.047698,7.486587,6.748413,7.319286,6.864160,11.000238,12.552937
33,69.500000,8.000000,15.944444,10.190714,8.049127,10.028095,5.175238,8.695159,5.687460,7.746587,6.718730,7.166746,6.739921,10.733254,11.814000
34,69.500000,8.000000,22.944444,10.774762,8.982063,10.547381,5.334921,9.176667,6.141984,8.011587,7.433492,7.600476,7.583571,11.796508,13.463810
35,69.500000,8.301587,20.595238,10.591508,8.856825,10.773333,5.577540,9.018254,6.070000,8.219206,7.000794,7.192302,7.220556,11.744762,13.312143
36,69.500000,8.976190,6.682540,10.666905,9.110000,9.854444,5.366270,9.171270,6.319206,8.473651,7.013571,7.458651,7.259206,11.818095,13.951508
37,69.500000,9.000000,12.944444,11.403095,9.677857,11.007302,5.563333,9.621905,6.656270,8.614841,7.781984,7.582619,7.737143,12.522698,14.956032
38,69.500000,9.000000,19.944444,10.229206,9.341190,10.265120,4.658000,8.640635,5.605556,7.385952,6.920000,6.538413,6.659286,11.732460,13.341905
39,69.500000,9.119048,23.373016,13.663492,11.891600,11.763016,6.750556,11.679286,7.661905,9.952143,9.336587,8.819841,9.216111,14.639365,16.681984
40,69.500000,9.873016,7.753968,12.315238,10.708175,11.306825,5.838968,10.244365,6.739762,9.119921,8.375714,8.308810,8.241270,13.250952,15.587698
41,69.500000,10.000000,10.944444,12.042320,10.596667,11.048095,5.404921,10.098810,6.781825,8.674286,8.446825,7.841905,8.233889,13.487460,15.470556
42,69.500000,10.000000,17.944444,12.791429,10.837222,11.529206,6.381984,10.726349,7.506984,10.018413,8.787143,8.551825,9.087381,14.084444,17.477540
43,69.500000,10.000000,24.944444,13.217063,11.961984,11.761032,6.546349,11.179524,7.627857,10.003254,9.265238,8.835200,9.752143,15.933810,18.417937
44,69.500000,10.563492,14.476190,13.420079,11.812143,12.557063,6.527619,10.771667,7.475714,9.967063,9.182540,8.759048,9.493333,14.750635,18.084206
45,69.500000,11.000000,7.944444,13.713016,12.066905,12.780556,6.431111,11.040317,7.638016,11.134762,9.206667,9.165397,9.443571,14.252937,18.536984
46,69.500000,11.000000,14.944444,13.776508,12.106111,13.027222,6.622698,10.978254,7.354603,11.026032,8.425079,8.560159,8.995873,13.666190,18.749206
47,69.500000,11.000000,21.944444,11.885635,10.355714,11.331508,5.578968,9.338016,6.272302,10.175040,7.441429,7.760714,8.114048,12.427937,16.719762
48,69.500000,11.301587,19.896825,13.929921,12.396746,12.062698,6.485159,11.343889,7.809286,11.816349,8.760159,9.277619,9.279603,14.574921,18.432302
49,69.500000,11.976190,6.658730,14.915794,13.222698,12.812857,7.246032,11.989921,8.541905,12.697381,9.596746,10.119603,9.933730,15.173968,19.348254
50,69.500000,12.000000,12.944444,13.645238,11.700794,11.988492,6.471190,11.038254,7.747540,11.266667,8.787619,8.815238,9.182698,13.958175,17.877937
51,69.500000,12.000000,19.944444,14.010714,11.973254,12.875476,6.333730,10.756032,7.500000,10.583968,8.714206,8.794524,9.141190,13.653333,17.336270
52,69.412698,11.388889,25.222222,14.504841,11.847540,13.773492,6.878810,10.787440,7.470397,11.907143,9.226349,9.600873,9.743889,14.171587,19.472222
53,70.761905,7.285714,17.714286,13.271905,10.076190,15.277619,5.836190,9.346190,6.545238,11.677143,6.526667,8.093810,8.506190,11.593333,17.915714

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [208]:
data['month_identifier']=data.Mo.astype(str)+'-'+data.Yr.astype(str)

In [209]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,Week,month_identifier
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,52,1-61
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02,1,1-61
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03,1,1-61
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04,1,1-61
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05,1,1-61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27,52,12-78
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28,52,12-78
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29,52,12-78
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30,52,12-78
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31,52,12-78

In [210]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,Week,month_identifier
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,52,1-61
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02,1,1-61
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03,1,1-61
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04,1,1-61
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05,1,1-61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27,52,12-78
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28,52,12-78
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29,52,12-78
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30,52,12-78
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31,52,12-78

In [211]:
data.loc[:,'RPT':'MAL'].groupby(data.month_identifier).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
month_identifier,,,,,,,,,,,,
1-61,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1-62,14.783871,13.160323,12.591935,7.538065,11.779677,8.720000,14.211935,9.600000,9.670000,11.498710,16.369355,15.661613
1-63,14.868387,11.112903,15.121613,6.635806,11.080645,7.835484,12.797419,9.844839,7.841613,9.390000,11.428710,18.822258
1-64,12.661290,11.818387,11.741290,6.953548,11.400645,6.865806,9.592903,9.687419,6.947742,9.676774,15.067419,14.145484
1-65,15.741613,15.546774,15.274194,8.258387,13.588065,9.251290,13.850968,11.260000,9.899355,11.706129,16.196129,17.888710
...,...,...,...,...,...,...,...,...,...,...,...,...
9-74,14.830667,12.813333,12.155667,6.036667,10.863333,6.724000,9.063333,8.909333,8.410667,7.249333,12.320333,16.237333
9-75,12.666000,10.365333,11.684333,5.446667,9.220000,6.352333,9.579667,8.209333,9.164000,7.825667,13.909000,17.195000
9-76,11.703667,10.515333,10.466333,5.313333,8.761333,7.062333,8.617667,6.415333,8.953333,7.263333,11.587000,17.634000
9-77,12.472333,10.742667,11.849333,5.638667,10.077333,8.242667,11.939333,7.923000,8.828000,8.506333,14.051000,17.030333
9-78,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [212]:
data.drop(columns='month_identifier',inplace=True)

In [213]:
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,Week
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,52
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02,1
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03,1
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04,1
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27,52
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28,52
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29,52
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30,52
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31,52

In [214]:
data['Week']=data.iloc[1:,:].Date.apply(lambda x : x.week)

In [215]:
data.iloc[1:,:]

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,Week
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02,1.0
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03,1.0
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04,1.0
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05,1.0
5,61,1,6,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17,1961-01-06,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,2078-12-27,52.0
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,2078-12-28,52.0
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,2078-12-29,52.0
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,2078-12-30,52.0
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,2078-12-31,52.0

In [216]:
DATA=data.iloc[1:,:].groupby(['Yr','Week']).mean()

In [217]:
DATA.drop(columns=['Mo','Dy'],inplace=True)

In [218]:
DATA

               RPT        VAL        ROS        KIL        SHA        BIR  \
Yr Week
61 1.0   13.541429  11.486667  10.487143   6.417143   9.474286   6.435714
   2.0   12.468571   8.967143  11.958571   4.630000   7.351429   5.072857
   3.0   13.204286   9.862857  12.982857   6.328571   8.966667   7.417143
   4.0   19.880000  16.141429  18.225714  12.720000  17.432857  14.828571
   5.0   16.827143  15.460000  12.618571   8.247143  13.361429   9.107143
...            ...        ...        ...        ...        ...        ...
78 48.0  15.054286  12.232857  13.798571   5.571429  10.828571   9.547143
   49.0  22.215714  20.000000  18.551429  11.194286  16.257143  13.612857
   50.0  15.270000  13.508571  13.654286   5.398571  10.152857   6.220000
   51.0  10.781429   7.394286  13.077143   4.242857   7.212857   6.087143
   52.0  15.050000  11.872500  15.328750   6.728750  10.692500   9.110000

               DUB        CLA        MUL        CLO        BEL        MAL
Yr Week
61 1.0   11.061429   6.616667   8.434286   8.497143  12.481429  13.238571
   2.0    7.535714   6.820000   5.712857   7.571429  11.125714  11.024286
   3.0    9.257143   7.875714   7.145714   8.124286   9.821429  11.434286
   4.0   15.528571  15.160000  14.480000  15.640000  20.930000  22.530000
   5.0   12.204286   8.548571   9.821429   9.460000  14.012857  11.935714
...            ...        ...        ...        ...        ...        ...
78 48.0  10.507143   8.460000  10.368571  10.535714  13.384286  19.377143
   49.0  15.358571  13.405714  14.548571  14.951429  18.582857  23.757143
   50.0   8.435714   7.162857   7.580000   7.078571  11.310000  15.128571
   51.0   8.697143   7.595714   7.264286   7.982857   9.191429  18.144286
   52.0  14.880000  12.006250  12.025000  12.090000  15.892500  27.791250

[942 rows x 12 columns]

In [219]:
DATA.iloc[0:52,:]

               RPT        VAL        ROS        KIL        SHA        BIR  \
Yr Week
61 1.0   13.541429  11.486667  10.487143   6.417143   9.474286   6.435714
   2.0   12.468571   8.967143  11.958571   4.630000   7.351429   5.072857
   3.0   13.204286   9.862857  12.982857   6.328571   8.966667   7.417143
   4.0   19.880000  16.141429  18.225714  12.720000  17.432857  14.828571
   5.0   16.827143  15.460000  12.618571   8.247143  13.361429   9.107143
   6.0   19.684286  16.417143  17.304286  10.774286  14.718571  12.522857
   7.0   15.130000  15.091429  13.797143  10.083333  13.410000  11.868571
   8.0   15.221429  13.625714  14.334286   8.524286  13.655714  10.114286
   9.0   12.101429  12.951429  11.063333   7.834286  12.101429   9.238571
   10.0   9.376667  11.578571  10.845714   7.137143  10.940000   9.488571
   11.0  11.911429  13.501429  11.607143   7.084286  10.751429   8.652857
   12.0   9.567143   8.387143   9.695714   6.648571   8.964286   7.982857
   13.0  10.757143   8.852857   9.501429   7.300000   9.975714   9.165714
   14.0  11.964286  10.654286  13.607143   5.958571   9.494286   7.637143
   15.0   8.965714   8.000000   8.787143   4.971429   6.405714   4.947143
   16.0  12.621429  10.438571  10.255714   7.768571  10.357143   7.798571
   17.0  10.117143   9.798571   8.281429   4.801429   7.892857   5.197143
   18.0  15.367143  13.970000  13.834286   9.952857  14.917143  10.864286
   19.0   7.772857   8.712857   8.172857   5.295714   9.150000   6.391429
   20.0   8.225714   5.631667  12.042857   4.258571   7.597143   5.022857
   21.0   8.155714   7.388571   8.512857   3.748333   6.941429   4.112857
   22.0  10.321429   7.407143  10.065714   6.310000   9.754286   6.451429
   23.0  10.917143   8.992857   8.095714   5.214286  10.030000   5.460000
   24.0  10.571429   9.565714  10.875714   6.520000  10.260000   6.947143
   25.0   7.345714   6.108571   8.084286   5.478571  11.477143   7.492857
   26.0  10.236667   9.482857   8.648571   6.772857  10.975714   6.507143
   27.0  11.715714   7.220000   9.320000   7.544286  12.494286   7.982857
   28.0  16.680000  13.518571  11.171429   9.277143  14.524286   8.412857
   29.0   4.202857   4.255714   6.738571   3.300000   6.112857   2.715714
   30.0  10.561429   8.445714   9.352857   5.727143  10.077143   6.552857
   31.0  10.870000   8.792857   9.858571   6.238571  11.161429   7.184286
   32.0  10.058333   7.941429   8.728571   5.078571  10.105714   6.017143
   33.0  15.607143  10.565714  11.065714   8.600000  15.262857  10.415714
   34.0  12.391429  11.430000  12.768571   7.108571  13.250000   9.424286
   35.0   8.678571   8.821429   6.745714   5.642857   9.678571   6.278571
   36.0  10.541429   8.798571   8.185714   6.060000   9.231429   5.685714
   37.0  17.160000  14.440000  15.617143  10.442857  15.455714  11.082857
   38.0   8.500000   7.154286   7.993333   4.851667   8.214286   5.042857
   39.0  16.044286  11.361667  13.062857   8.370000  13.714286   8.762857
   40.0  11.250000   8.757143  10.167143   5.262857   8.255714   5.552857
   41.0  10.881667   9.734286   9.104286   6.578571  10.630000   7.965714
   42.0  19.260000  13.364286  15.828571  12.620000  15.137143  10.721429
   43.0  16.077143  11.867143  14.608571   8.408571  13.362857   8.928571
   44.0  11.571429   9.590000  10.827143   7.541429  10.840000   8.667143
   45.0  10.428571   7.690000  10.272857   4.660000   7.338571   4.220000
   46.0  10.798571   7.951429  16.988571   5.970000   8.131429   5.492857
   47.0   9.154286   7.337143   8.662857   4.970000   8.904286   6.361429
   48.0  12.608571  10.442857  11.481429   6.501429  10.357143   6.868571
   49.0  17.362857  14.362857  15.460000   8.624286  12.642857  10.421429
   50.0  14.985714  13.472857  13.720000   8.697143  14.297143  11.698571
   51.0  15.757143  11.971429  12.840000   5.785714  11.928571   7.084286
   52.0  13.634286   9.504286  15.804286   6.588571   8.112857   5.372857

               DUB        CLA        MUL        CLO        BEL        MAL
Yr Week
61 1.0   11.061429   6.616667   8.434286   8.497143  12.481429  13.238571
   2.0    7.535714   6.820000   5.712857   7.571429  11.125714  11.024286
   3.0    9.257143   7.875714   7.145714   8.124286   9.821429  11.434286
   4.0   15.528571  15.160000  14.480000  15.640000  20.930000  22.530000
   5.0   12.204286   8.548571   9.821429   9.460000  14.012857  11.935714
   6.0   14.934286  14.850000  14.064286  14.440000  21.832857  19.155714
   7.0    9.542857  12.128571  12.375714  13.542857  21.167143  16.584286
   8.0   11.150000  10.875714  10.392857  12.730000  16.304286  14.322857
   9.0   10.232857  11.130000  10.383333  12.370000  17.842857  13.951667
   10.0   6.881429   9.637143   9.885714  10.458571  16.701429  14.420000
   11.0  10.041429  10.220000  10.101429  11.627143  19.350000  16.227143
   12.0  10.774286   8.977143  10.904286  11.481429  14.037143  18.134286
   13.0  11.125714   9.061429  10.478333   9.631429  13.471429  13.900000
   14.0   7.107143   8.041429   8.161429   7.238571  11.712857  11.371429
   15.0   5.005714   4.994286   5.718571   6.178571   9.482857   8.690000
   16.0   9.000000   9.111429   8.767143   9.551429  13.620000  12.470000
   17.0   6.150000   6.377143   6.242857   6.124286   9.720000   8.637143
   18.0  11.435714  12.244286  11.677143  11.585714  17.548571  14.571429
   19.0   8.013333   7.052857   7.528571   7.822857  10.421429  10.382857
   20.0   5.695714   6.970000   6.847143   7.114286   9.624286  10.612857
   21.0   5.142857   6.272857   6.108571   7.535714  10.518571  11.697143
   22.0   8.344286   8.635714   8.714286   9.035714  12.298571  13.597143
   23.0   7.084286   6.884286   8.034286   8.397143  10.148571  12.250000
   24.0   9.278571   9.102857   8.992857   9.594286  15.351429  15.025714
   25.0  11.868571   9.447143  10.458571  11.257143  14.370000  17.410000
   26.0   7.642857   9.237143   7.904286  10.268571  14.535714  12.133333
   27.0  11.888333   9.308571  10.732857  10.547143  12.220000  15.987143
   28.0  10.171429  10.507143   9.530000  10.157143  13.520000  12.524286
   29.0   3.964286   5.642857   5.297143   6.041429   7.524286   8.415714
   30.0   9.147143   9.198571   8.037143   9.470000  12.841429  13.761429
   31.0   8.671429   8.265714   8.011429   8.951429  11.595714  13.760000
   32.0   7.858571   8.021429   6.285714   7.235000  10.934286  10.125714
   33.0  13.215714  11.714286  11.780000  12.244286  14.922857  16.626667
   34.0  11.105714  12.201429   9.817143  12.507143  16.251429  16.485714
   35.0   6.434286   8.612857   6.744286   8.924286  13.664286  11.022857
   36.0   6.787143   6.674286   6.977143   7.565714  10.700000  11.034286
   37.0  12.267143  13.131429  11.401429  14.268571  19.878571  18.984286
   38.0   5.671429   6.881667   5.034286   6.798571  11.018571   9.814286
   39.0   9.227143  10.437143   8.885714  11.840000  16.208571  13.338571
   40.0   7.411429   6.220000   5.650000   7.662857   8.810000  11.410000
   41.0   8.708571   7.901429   7.227143   9.494286  14.451429  15.260000
   42.0  15.565714  12.560000  13.118571  16.461429  17.477143  23.641429
   43.0  12.751429   9.874286   9.435000  12.952857  15.592857  18.404286
   44.0  12.791429   9.970000  10.172857  11.864286  16.322857  19.195714
   45.0   9.308571   4.257143   5.188571   6.415714   9.208571  10.858571
   46.0   9.660000   4.625714   4.501429   6.031429   5.875714   5.737143
   47.0  12.103333   6.924286   6.560000   9.582857  11.772857  12.732857
   48.0  11.077143   6.245714   7.372857   7.911429  11.464286  14.725714
   49.0  14.545714  10.114286   9.970000  12.022857  15.975714  16.241429
   50.0  13.665714  10.428571  10.655714  11.058571  15.112857  14.644286
   51.0   8.071429   7.012857   5.517143   7.697143   9.958571   8.164286
   52.0  11.892857   6.851429   6.748571   7.701429   9.697143  12.840000